<ul class="list-group">
  <% @inventories.each do |inventory| %>
    <li class="list-group-item">
      <b>Title: </b><%= inventory.book.title %><br/>
      <b>Description: </b><%= inventory.book.description %><br/>
      <b>Author: </b><%= inventory.book.author %><br/>
      <b>Price: </b>$<%= inventory.sale_price %><br/>
      <b>Stock: </b><%= inventory.amount %><br/>
      <%if user_signed_in? %>
        <%if inventory.amount > 0%>
          <%= link_to "Add to Cart", cart_add_to_cart_path(params: {inventory_id: inventory.id}), method: :post %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>