<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Email: <%= @user.email %></h6>
    <p class="card-text">Phone Number: <%= @user.phone %></p>
  </div>
</div>
<h2>Inventory</h2>
<ul class="list-group">
  <% @inventories.each do |inventory| %>
    <li class="list-group-item">
      <b>Title: </b><%= inventory.book.title %><br/>
      <b>Description: </b><%= inventory.book.description %><br/>
      <b>Author: </b><%= inventory.book.author %><br/>
      <b>Price: </b>$<%= inventory.sale_price %><br/>
      <b>Stock: </b><%= inventory.amount %><br/>
      <%if user_signed_in? %>
        <%if inventory.amount > 0%>
          <%= link_to raw('Add to cart <i class="bi bi-cart-fill"></i>'),
              cart_add_to_cart_path(params: {inventory_id: inventory.id}),
              method: :post,
              class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>