<h2>Your Shopping Cart <i class="bi bi-cart-fill"></i><h2>

<%= link_to "Add more books", inventory_new_path, class: "btn btn-primary mb-1"%>
<ul class="list-group">
  <% @books.each do |item| %>
    <li class="list-group-item">
      <b>Title: </b><%= item.book.title %><br/>
      <b>Description: </b><%= item.book.description %><br/>
      <b>Author: </b><%= item.book.author %><br/>
      <%=form_with(model: @inventory, local:true, url: { action: 'update' }, html: { method: 'patch' }) do |f| %>
        <%= hidden_field_tag 'inventory_id', item.id %>
        <b>Price: </b> $<%= f.text_field :sale_price, value: item.sale_price %><br/>
        <b>Amount: </b> <%= f.text_field :amount, value: item.amount %><br/>
        <%= f.submit "Update"%>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @books %>